body {
    font-family: 'Arial', sans-serif;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    margin: 0;
    height: 100vh;
    background-image: url('src/background.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment:fixed;
}


.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    
}

.navbar button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.container {
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 20px;
}

.main-image {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.actions button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.like-btn {
    color: #aaa;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
}

.like-btn.active {
    color: red;
}

.comments {
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 10px;
}

.comment p {
    margin: 0;
    color: #333;
}

.video-container {
    width: 100%;
    max-width: 800px; 
    overflow: hidden; 
}

.main-video {
    width: 100%;
    height: auto;
    height: 400px;
    border-radius: 16px; 
}

.comment-section {
    margin-top: 20px;
}

#comment-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

#comment-input {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#comment-form button {
    align-self: flex-end;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s;
}

#comment-form button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.glass-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.glass-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.glass-btn2 {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.glass-btn2:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: for a subtle shadow */
}

.glass-btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.glass-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.input-field, .submit-btn, #upload-photo {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.submit-btn {
    cursor: pointer;
}

.captured-image-container {
    margin-top: 20px;
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.captured-image-container img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#eventForm {
    display: none;
    margin-top: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .event {
    margin-top: 20px;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  