body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('src/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;;
}

.glassmorphism-container {
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}


input, button {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease;
    outline: none;
}

input:hover, button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

#sendOtp {
    width: auto;
    margin-left: 10px;
}


